/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  text-align: center;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
}

main {
  margin-top: 30px;
}

h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 1.2em;
  margin-bottom: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

#feedback {
  font-size: 1.2em;
  margin-top: 20px;
  color: #ff0000;
}

#score {
  font-size: 1.5em;
  margin-top: 30px;
  color: #333;
}
